CONFIG_LOG_MAXIMUM_LEVEL=2
#CONFIG_LOG_DEFAULT_LEVEL=2
# to enable full C++ exception support
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_CXX_EXCEPTIONS=y
CONFIG_ESP_SYSTEM_USE_EH_FRAME=y
CONFIG_ESP_SYSTEM_USE_EH_FRAME_FOR_EXCEPTIONS=y

CONFIG_COMPILER_UBSAN=n
CONFIG_COMPILER_UBSAN_NO_ABORT=n
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=n

# TLS deebug info
CONFIG_MBEDTLS_DEBUG=y
CONFIG_MBEDTLS_DEBUG_LEVEL_WARN=y
# CONFIG_MBEDTLS_DEBUG_LEVEL_INFO is not set
# CONFIG_MBEDTLS_DEBUG_LEVEL_DEBUG is not set
# CONFIG_MBEDTLS_DEBUG_LEVEL_VERBOSE is not set
CONFIG_MBEDTLS_DEBUG_LEVEL=1

# Disable poisoning unless you also want corruption detection
CONFIG_HEAP_POISONING_DISABLED=y
# CONFIG_HEAP_POISONING_LIGHT is not set
# CONFIG_HEAP_POISONING_COMPREHENSIVE is not set

# Turn OFF the "off" mode
# CONFIG_HEAP_TRACING_OFF is not set

# Enable standalone tracing (keeps records in RAM)
CONFIG_HEAP_TRACING_STANDALONE=y
# CONFIG_HEAP_TRACING_TOHOST is not set   # only if you want host streaming

# Enable hooks so tracing can intercept alloc/free
CONFIG_HEAP_USE_HOOKS=y

# Optional: track which task allocated each block
CONFIG_HEAP_TASK_TRACKING=n
